.main-hero{
    background-image: url(../public/hero2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
}

@media (max-width: 480px) {
    .main-hero{
        height: 300px;
    }
}


@media (max-width: 768px) {
   .main-hero{
    height: 300px;
   }
}